/*------------------------------- CSS variables ---------------------------------------*/

:root {
  --display-color: #CAD0D1;
  --operator-keys-color: #9DA8AB;
  --interface-bg-color: #75bdb6cf;
  --bg-color: rgba(36, 30, 30, 0.74); /* background color */
  --key-bg-color: #1e4054;
  --key-hover-bg-color: #2a7575;
  --openning-bg-color: #BDB675;
}


/*-------------------------- applied either to all elements or the 'main' ones -----------------------*/

/* html {
  background-color: var(--bg-color);
} */

* {box-sizing: border-box;} /*assures every element does not exceed its specified width and height*/

body {
  background-color: var(--bg-color);
  height: 100dvh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
} 

.background-after-openning {
  background-image: url("./background-image.jpg");
  background-size: cover;
}

#interface-perimeter {
  position: relative;
  top: 3%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 0.01rem solid black;
  border-top: solid black 0.5rem;
  border-top-left-radius: 3%;
  border-top-right-radius: 3%;
  height: 400px;
  width: 320px;
  background-color: var(--interface-bg-color);
  box-shadow: 4px 4px 10px #06110F;
}


/*------------------------------- display ---------------------------------------*/

#display {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 20vh;
  background-color: var(--display-color);
  border: 0.1em solid black;
  font-size: 2rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: auto;
}


/*--------------------------------- all keys -----------------------------------*/

button {
  cursor: pointer;
  transform: translateY(-2000%);
  animation: openningEffect 1.5s ease forwards;
  animation-delay: calc(var(--order)*0.5s);
}

@keyframes openningEffect {
  0% {
    transform: translateY(-2000%);
  }
  100% {
    transform: translateY(0%);
  }
}

.key {
  width: 31%; 
  height: 25%;
  border-radius: 25%;
  background-color: var(--key-bg-color);
  color: white;
  font-size: 1.1rem;
  overflow: hidden;
}

.key:not(.number-key) {
  height: 33%;
}

.key:hover {
  background-color: var(--key-hover-bg-color);
}

.hover-effect { /* class to be dynamically added when pressing physical keys */
  background-color: var(--key-hover-bg-color); 
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; 
  border: 0.1rem solid black;  
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  width: 95%;
  margin-right: 0.4rem;
  margin-left: 0.4rem;
}

#key-wrapper {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: 75vh;
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}


/*----------------------- particular treatments --------------------------*/

/*----------------------- utility keys -----------------------------*/

.bracket-key {
  padding-bottom: 0.12rem;
}

#result-key {
  background-color: rgb(199, 70, 70);
}

#result-key:hover {
  
  background-color: rgba(231, 86, 86, 0.882);
}


#root-operator {
  display: flex;
  justify-content: center;
}

#operator-and-utility-wrapper {
  display: grid;
  justify-content: center;
}

/*----------------------- number keys -----------------------------*/

#euler-number-key {
  padding-bottom: 0.12rem;
}

.number-key {
  font-size: 1.5rem;
  width: 27%;
}

/* #number-key-wrapper {
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
} */

/*----------------------- media query: screens wider than 600px -----------------------------*/

@media (min-width: 700px)
{
  #interface-perimeter {
    width: 38vw;
    display: flex;
  }  

  #key-wrapper {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #display {
    font-size: 2.5rem;    
  }

  .wrapper {
  width: auto;
  margin-right: 0;
  margin-left: 0;
  }
  /* .key {
    width: 25%;
  } */

}
