/*------------------------------- CSS variables ---------------------------------------*/

:root {
  --display-color: #CAD0D1;
  --operator-keys-color: #9DA8AB;
  --interface-bg-color: #3CA699; /* background color */
  --bg-color: #BB4453; /* background color */
  --key-bg-color: #1E544D;
  --key-hover-bg-color: #2A756C;
}


/*-------------------------- applied to all elements or the 'main' ones -----------------------*/

* {box-sizing: border-box;} /*assures every element does not exceed its specified width and height*/

body {
  background-color: var(--bg-color); 
  display: flex;
  justify-content: center;
} 

#interface-perimeter {
  display: flex;
  flex-direction: column;
  border: 0.01rem solid black;
  border-top: solid black 0.5rem;
  border-radius: 3%;
  max-width: 57.5vw;
  background-color: var(--interface-bg-color);
  box-shadow: 4px 4px 10px #06110F; 
}


/*------------------------------- display ---------------------------------------*/

#display {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 10vh;
  background-color: var(--display-color);
  border: 0.1em solid black;
  font-size: 1.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  overflow: scroll;
}


/*--------------------------------- all keys -----------------------------------*/

.key {
  width: 33%; 
  border-radius: 20%;
  border: 0.05rem solid black;
  background-color: var(--key-bg-color);
  color: white;
}

.key:not(.number-key) {
  height: 33%;
}

.key:hover {
  background-color: var(--key-hover-bg-color);
}

.wrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  border: 0.1rem solid black;  
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
}

#key-wrapper {
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}

#number-key-wrapper {
  border-bottom-left-radius: 3%;
  border-bottom-right-radius: 3%;
}



/*----------------------- operator keys --------------------------*/



/*----------------------- utility keys -----------------------------*/

.bracket-key {
  padding-bottom: 0.12rem;
}


/*----------------------- number keys -----------------------------*/


#euler-number-key {
  padding-bottom: 0.12rem;
}

/*----------------------- all sectors -----------------------------*/



@media (min-width: 600px)
{
  :root {
    --bg-color: rgb(0, 255, 123); /* background color */
  }
}